PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_cGrC7ZUIoiH8@ep-sweet-dawn-aowy6jf5-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
 
CLERK_PUBLISHABLE_KEY=pk_test_Z2VuZXJvdXMtaW5zZWN0LTIyLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_biVSOlCcKCL9zjjNzv9a63SThJhK4arqJoCPvF23vi


SENTRY_DSN=https://e778b73b4df32a3ed650b114fee40d54@o4511388500361216.ingest.us.sentry.io/4511388509011968
  STREAM_API_KEY=bwu8tpr7v569 
  STREAM_API_SECRET=a6s89azbthhqamvwkbb344yxr52gs4wg6c4hucrrq5bq3dfcedeak3vvja7r2dxd 
  IMAGEKIT_PUBLIC_KEY=public_FS3MU8RDvO3stamjfIx9dBpfdJ0= 
IMAGEKIT_PRIVATE_KEY=private_mVOvqyuMAayVCIu8HH6slcYp+gY= 
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/uwbeipxld 
POLAR_ACCESS_TOKEN= 
POLAR_WEBHOOK_SECRET=
POLAR_API_URL=https://sandbox-api.polar.sh 
